*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    text-align: center;
}
.container h2{
    border: 1px solid #9999;
    display: inline-block;
    
    padding: 7px 7px;
    font-family: 'Nunito', sans-serif;
}
.container .form-group {
    text-align: center;
    position: relative;
}
.container .form-group label{
    font-size: 17px;
    margin-top:  27px;
    margin-left: 140px;
    font-family: 'Nunito', sans-serif;
}
.container .form-group .col-sm-10 input{
    margin: 30px;
    width: 500px;
    height: 50px;
    position: absolute;
    right: 10%;
    top: -70px;
    font-family: 'Nunito', sans-serif;
}
.container .form-group .col-sm-offset-2{
    position: absolute;
    left: 190px;
    top: 20px;
}
.container .form-group .col-sm-offset-2 input{
    margin: 0px 20px;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    background-color: chocolate;
    border: none;
    transition: 0.3s ease-in-out;
}
.container .form-group .col-sm-offset-2 input:hover{
    transform: scale(1.1);
}



/*-----------------------Cart-------------------*/

.cart-form{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(45deg, #F1C40F, #C0392B);
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content:center;
    color: #333;
    z-index:99;
}